<div class="top-bar sticky-top">
    <div class="container mt" >
        <div class="row d-flex justify-content-between">
            <div class="col-2 social text-center">
                <h4>
                    <a class="nav-link pointer" routerLink="/">
                        <b>Blog</b>
                    </a>
                </h4>
            </div>

            <div class="col-8 d-flex justify-content-end">
                <div class="row">
                    <div class="col-6 search-top">
                        <!-- <a href="#"><span class="fa fa-search"></span></a> -->
                        <form #searchForm="ngForm" class="search-top-form">
                            <span class="icon fa fa-search"></span>
                            <input type="text" name="search" [(ngModel)]='term' (keyup)="onChange($event.target.value)" placeholder="Type keyword to search...">
                        </form>
                    </div>
                    <div class="col-6 social text-center">
                        <div class="dropdown" *ngIf="isLoggedIn">
                            <a class="nav-link dropdown-toggle pointer" id="dropdownUserButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi {{user.name}}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserButton">
                                <a class="dropdown-item text-dark" routerLink="/profile/{{user.id}}">Profile</a>
                                <a class="dropdown-item text-dark" routerLink="/posts/create">Create new post</a>
                                <a class="dropdown-item text-dark pointer" (click)="logout($event)">Logout</a>
                            </div>
                        </div>
                        <div class="row" *ngIf="!isLoggedIn">
                            <a class="nav-link pointer col-5" routerLink="/login">Login</a>
                            <a class="nav-link pointer" routerLink="/signup">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END header -->