<div class="card" style="margin-top: 20px;">
  <div class="card-body">
    <div class="form-group row">
      <label for="name" class="col-md-4 tital">Name:</label>
      <input type="text" name="name" readonly class="form-control-plaintext col-md-8 " value="{{user.name}}">
    </div>
    <hr>
    <div class="form-group row">
      <label for="email" class="col-md-4 tital">Email:</label>
      <input type="email" name="email" readonly class="form-control-plaintext col-md-8" value="{{user.email}}">
    </div>
    <hr>
    <div class="form-group row">
      <label for="nickname" class="col-md-4 tital">Nickname:</label>
      <input type="text" name="nickname" readonly class="form-control-plaintext col-md-8" value="{{user.nickname}}">
    </div>
    <hr>
    <div class="form-group row">
      <label for="date_of_birth" class="col-md-4 tital">Date of birth:</label>
      <input type="date" name="date_of_birth" readonly class="form-control-plaintext col-md-8" value="{{user.date_of_birth}}">
    </div>
    <hr>
    <div class="form-group row">
      <label for="description" class="col-md-4 tital">Description</label>
      <textarea type="text" name="description" readonly rows="5" class="form-control-plaintext col-md-8" value="{{user.description}}"></textarea>
    </div>
  </div>