<!-- END sidebar-box -->
<div class="sidebar-box" *ngIf="_token">
  <div class="bio">
    <div class="text-center">
      <img src="{{avatarUrl}}" alt="Image Placeholder" class="img-fluid">
    </div>
    <div class="bio-body">
      <div class="text-center">
        <h2>{{user.name}}</h2>
        <p>Email: {{user.email}}</p>
        <p>Nickname: {{user.nickname}}</p>
        <p>Date of birth: {{user.date_of_birth}}</p>
      </div>
      <div class="profile-usermenu">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action {{(isActive('profile'))? 'active' : ''}}">
            <a routerLink="/profile/{{user.id}}">
              <i class="fa fa-home"></i>
              Profile </a>
          </li>
          <li class="list-group-item list-group-item-action {{(isActive('admin'))? 'active' : ''}}" *ngIf='isAdmin'>
            <a routerLink="/admin">
              <i class="fa fa-tasks"></i>
              Dashboard </a>
          </li>
          <li class="list-group-item list-group-item-action {{(isActive('create'))? 'active' : ''}}">
            <a routerLink="/posts/create">
              <i class="fa fa-flag"></i>
              Create new post </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END sidebar-box -->
<div class="sidebar-box">
  <h3 class="heading">Popular Posts</h3>
  <ng-container *ngIf="isPostsLoading; else PostsLoaded">
    <app-preloader></app-preloader>
  </ng-container>
  <ng-template #PostsLoaded>
    <div class="post-entry-sidebar" *ngFor="let post of posts">
      <ul>
        <li>
          <a routerLink="/posts/{{post.slug}}">
            <ng-container *ngIf="post.images.length > 0; else noImage">
              <ng-container *ngFor="let image of post.images">
                <img src="http://localhost:8000/images/{{image.image}}" alt="Image placeholder" class="mr-4">
              </ng-container>
            </ng-container>
            <ng-template #noImage>
              <img src="assets\images\placeholdImage.jpg" alt="Image placeholder" class="mr-4">
            </ng-template>
            <div class="text">
              <h4>{{(post.title.length>50)? (post.title | slice:0:50)+'...':(post.title) }}</h4>
              <div class="post-meta">
                <span class="mr-2">{{post.created_at|date}}</span>
                <span class="ml-2">
                  <span class="fa fa-comments"></span> {{post.comments_count}}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
<!-- END sidebar-box -->

<div class="sidebar-box">
  <h3 class="heading">Categories</h3>
  <ng-container *ngIf="isCategoriesLoading; else categoriesLoaded">
    <app-preloader></app-preloader>
  </ng-container>
  <ng-template #categoriesLoaded>
    <ul class="categories">
      <li *ngFor="let category of categories">
        <a routerLink="/categories/{{category.category_slug}}">{{category.category_name}}
          <span>{{category.posts_count}}</span>
        </a>
      </li>
    </ul>
  </ng-template>
</div>
<!-- END sidebar-box -->

<!-- <div class="sidebar-box">
  <h3 class="heading">Tags</h3>
  <ul class="tags">
    <li>
      <a href="#">Travel</a>
    </li>
    <li>
      <a href="#">Adventure</a>
    </li>
    <li>
      <a href="#">Food</a>
    </li>
    <li>
      <a href="#">Lifestyle</a>
    </li>
    <li>
      <a href="#">Business</a>
    </li>
    <li>
      <a href="#">Freelancing</a>
    </li>
    <li>
      <a href="#">Travel</a>
    </li>
    <li>
      <a href="#">Adventure</a>
    </li>
    <li>
      <a href="#">Food</a>
    </li>
    <li>
      <a href="#">Lifestyle</a>
    </li>
    <li>
      <a href="#">Business</a>
    </li>
    <li>
      <a href="#">Freelancing</a>
    </li>
  </ul>
</div> -->
<!-- END sidebar -->